<div class="row">
  <div class="span8">
    <form novalidate class="form-horizontal">
      <fieldset>
        <legend>New group</legend>

        <div class="alert alert-error" ng-show="grp.errmsg">
          {{grp.errmsg}}
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input id="name" type="text" class="input-xlarge" ng-model="grp.name"  required/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="desc">Desc</label>
          <div class="controls">
            <input id="desc" type="text" class="input-xlarge" ng-model="grp.desc"/>
          </div>
        </div>

        <div class="form-actions">
          <button ng-click="create(grp)" class="btn btn-primary">Create</button>
          <button ng-click="reset()" class="btn">Reset</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
