<div class="row">
  <div class="col-md-4">
    <form novalidate role="form">
      <h3>New group</h3>

      <div class="alert alert-danger" ng-show="grp.errmsg">
        {{grp.errmsg}}
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" placeholder="Name"
               ng-model="grp.name" required/>
      </div>

      <div class="form-group">
        <label for="desc">Desc</label>
        <input id="desc" type="text" class="form-control" placeholder="Desc"
               ng-model="grp.desc"/>
      </div>

      <div class="form-actions">
        <button ng-click="create(grp)" class="btn btn-primary">Create</button>
        <button ng-click="reset()" class="btn">Reset</button>
      </div>
    </form>
  </div>
</div>
