<div class="row">
  <div class="col-md-8">
    <form novalidate class="form-horizontal">
      <fieldset>

        <legend>Login</legend>

        <div class="alert alert-danger" ng-show="user.errmsg">
          {{user.errmsg}}
        </div>

        <div class="form-group">
          <label class="control-label" for="login">Login</label>
          <div class="controls">
            <input id="login" type="text" class="input-xlarge" ng-model="user.login" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input id="password" type="password" class="input-xlarge" ng-model="user.password" required/>
          </div>
        </div>

        <div class="form-actions">
          <button ng-click="login(user)" class="btn btn-primary">Login</button>
          <button ng-click="reset()" class="btn">Reset</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>
