<div class="row">
  <div class="col-md-4">
    <form novalidate role="form">

      <div class="alert alert-danger" ng-show="user.errmsg">
        {{user.errmsg}}
      </div>

      <input id="login" type="text" class="form-control" ng-model="user.login"
             placeholder="login" required/>

      <input id="password" type="password" class="form-control"
             ng-model="user.password" placeholder="password" required/>

      <div class="form-actions">
        <button ng-click="login(user)" class="btn btn-primary">Login</button>
        <button ng-click="reset()" class="btn">Reset</button>
      </div>

    </form>
  </div>
</div>
