<div class="row">
  <div class="col-md-4">
    <form novalidate role="form">
      <h3>New repository</h3>

      <div class="alert alert-danger" ng-show="user.errmsg">
        {{repo.errmsg}}
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" placeholder="Name"
               ng-model="repo.name"/>
      </div>

      <div class="form-group">
        <label for="desc">Desc</label>
        <input id="desc" type="text" class="form-control" placeholder="Description"
               ng-model="repo.desc"/>
      </div>

      <div class="form-group checkbox">
        <label for="desc">
          <input type="checkbox" id="is_public" ng-model="repo.is_public" />Public
        </label>

        <div class="form-actions">
          <button ng-click="create(repo)" class="btn btn-primary">Create</button>
          <button ng-click="reset()" class="btn">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
